[Unit]
Description=Danvers Gateway
After=network.target

[Service]
Type=simple
User=danvers
WorkingDirectory=/home/juanheza/Documents/Danvers-Gateway
ExecStart=/opt/danvers-gateway/DanversGateway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target