[Unit]
Description=Danvers Gateway
After=network.target

[Service]
Type=simple
User=svc_devdog
WorkingDirectory=/home/svc_devdog/Danvers-Gateway
ExecStart=/home/svc_devdog/Danvers-Gateway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target